/*-------------------POINTS---------------------*/

.first-p { left: 8.8%; }

.second-p { left: 18.8%; }

.third-p { left: 28.8%; }

.fourth-p { left: 38.8%; }

.fifth-p { left: 48.8%; }

.sixth-p { left: 58.8%; }

.seventh-p { left: 68.8%; }

.eighth-p { left: 78.8%; }

.nineth-p { left: 88.8%; }

/*---------------------TEXT--------------------*/

.top-text { top: 11%; }

.bottom-text { top: 20.5%; }

.text-1 { left: 2.4%; }

.text-2 { left: 16.2% ; }

.text-3 { left: 24% ; }

.text-4 { left: 35.5% ; }

.text-5 { left: 45%; }

.text-6 { left: 56% ; }

.text-7 { left: 64% ; }

.text-8 { left: 76.4% ; }

.text-9 { left: 84.5% ; }


/*---------------------SLIDES--------------------*/

.variablecompany { display: none; }

.rectangle-one {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 8%;
    top: 40%;

    background: #3C405B;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.rectangle-one-one {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 9.2%;
    top: 40%;

    background: #FFFFFF;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.rectangle-two {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 43.2%;
    top: 40%;
    
    background: #3C405B;
    transform: rotate(-45deg);
}

.rectangle-two-one {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 42%;
    top: 40%;

    background: #FFFFFF;
    transform: rotate(-45deg);
}

.slide-name {
    position: absolute;
    left: 16%;
    top: 35.4%;
    width: 24%;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    z-index: 1;

    color: #3C405B;
}

.slide-image {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 54%;
    top: 38%;
}

.text-of-the-slide {
    position: absolute;
    width: 44%;
    left: 7%;
    top: 50%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;

    color: #3C405B;
}

/*-----------------MEDIA------------------*/

@media only screen and (width: 1920px) and (height: 1080px) { 
    .slide-name { font-size: 60px; }

    .rectangle-one, .rectangle-one-one,
    .rectangle-two, .rectangle-two-one
    { height: 80px; width: 80px; }

    .text-of-the-slide { font-size: 32px; }
}

@media only screen and (width: 3840px) and (height: 2160px)  {
    .slide-name { font-size: 100px; }

    .rectangle-one, .rectangle-one-one,
    .rectangle-two, .rectangle-two-one
    { height: 120px; width: 120px; }

    .text-of-the-slide { font-size: 62px; }
}
