/*---------------------LINES--------------------*/

.line-m-u {
    position: fixed;
    height: 15.96px;
    top: 454.86px;

    background: #3C405B;
    border-radius: 17.955px;
}

.first-l-m-u { width: 231.42px; left: 151.62px; }

.second-l-m-u { width: 1428.42px; left: 458.85px; }

.third-l-m-u { width: 1428.42px; left: 1967.07px; }

.fourth-l-m-u { width: 231.42px; left: 3475.29px; }

/*---------------------POINTS--------------------*/

.point-m-u {
    position: fixed;
    width: 65.835px;
    height: 65.835px;
    top: 418.95px;

    border: 13.965px solid #3C405B;
    border-radius: 50%;
    cursor: pointer;
}

.first-p-m-u { left: 375.06px; }

.second-p-m-u { left: 1881.285px; }

.third-p-m-u { left: 3391.5px; }

/*---------------------TEXT--------------------*/

.text-m-u {
    position: fixed;
    width: 538.65px;
    height: 135.66px;
    top: 470.82px;

    font-family: Arial;
    font-style: normal;
    font-size: 59.85px;
    line-height: 67.83px;
    text-align: center;

    color: #3C405B;
}

.first-t-m-u { left: 151.62px; }

.second-t-m-u { width: 534.66px; height: 67.83px; left: 1667.82px; }

.third-t-m-u { width: 534.66px; height: 67.83px; left: 3172.05px; }

/*---------------------SLIDES--------------------*/

.title-of-the-slide-m-u {
    position: absolute;
    width: 1596px;
    height: 159.6px;
    left: 271.32px;
    top: 586.55px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 114px;
    line-height: 159.6px;
    text-align: center;
    letter-spacing: 0.1995em;

    color: #3C405B;
}

.text-of-the-slide-m-u {
    position: absolute;
    width: 1601.985px;
    height: 1073.31px;
    left: 281.295px;
    top: 893.76px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 71.82px;
    line-height: 81.795px;

    color: #3C405B;
}

.image-of-the-slide-m-u {
    position: absolute;
    width: 1596px;
    height: 1197px;
    left: 2002.98px;
    top: 730.17px;
}
