/*---------------------POINTS--------------------*/

.point-m-u {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 18.15%;
    cursor: pointer;
    background-color: #FFFFFF;
    z-index: 2;

    border-radius: 50%;
    border: 4px solid #3C405B;
}

.first-p-m-u { left: 25%; }

.second-p-m-u { left: 50%; }

.third-p-m-u { left: 75%; }

/*---------------------TEXT--------------------*/

.first-t-m-u { left: 17.5%; top: 20.5%; }

.second-t-m-u { left: 45%; top: 20.5%; }

.third-t-m-u { left: 70.5%; top: 20.5%; }

.slide-name-m-u {
    position: absolute;
    left: 6.5%;
    top: 35.4%;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    z-index: 1;

    color: #3C405B;
}

/*-----------------MEDIA------------------*/

@media only screen and (width: 1920px) and (height: 1080px) {
    .point-m-u { height: 34px; width: 34px; border: 8px solid #3c405b; }

    .slide-name-m-u { font-size: 60px; }
}

@media only screen and (width: 3840px) and (height: 2160px) {
    .point-m-u { height: 64px; width: 64px; border: 12px solid #3c405b; }

    .slide-name-m-u { font-size: 100px; }
}
