/*----------------------------POINTS--------------------------*/

.news-point {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 18.15%;
    cursor: pointer;
    background-color: #FFFFFF;
    z-index: 2;

    border-radius: 50%;
    border: 4px solid #3C405B;
}

.first-n-p { left: 33%; }

.second-n-p { left: 66%; }

/*----------------------------TEXT--------------------------*/

.first-n-t { left: 28%; top: 20.5%; }

.second-n-t { left: 56%; top: 20.5%; }

/*-----------------MEDIA------------------*/


@media only screen and (width: 1920px) and (height: 1080px) {
    .news-point { height: 34px; width: 34px; border: 8px solid #3c405b; }
}

@media only screen and (width: 3840px) and (height: 2160px) {
    .news-point { height: 64px; width: 64px; border: 12px solid #3c405b; }
}
